* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-page {
  height: 100vh;

  background-image: url("https://images.unsplash.com/photo-1466692476868-aef1dfb1e735");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

.overlay {
  background: rgba(0, 0, 0, 0.55);

  padding: 50px;

  border-radius: 15px;

  text-align: center;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.overlay p {
  margin-bottom: 25px;
}

.start-btn {
  padding: 12px 24px;

  border: none;

  border-radius: 8px;

  cursor: pointer;

  font-size: 16px;

  background-color: #4caf50;

  color: white;
}